@use 'globals' as g;

#announcement-area{
    background-color: g.$purple;
    color: white;
    position: relative;
    padding-bottom: 2rem;
    
}

.announcement-div-container-box{
    padding-top: 4rem;
}


.announcement-div-content a{
    color: white;

}

.announcement-div-content{
    padding-top: 1rem;
}

