@use 'globals' as g;

#announcement-area{
    background-color: g.$purple;
    color: white;
    position: relative;
    padding-bottom: 2rem;
    
}

.announcement-div-container-box{
    padding-top: 4rem;
}


.announcement-div-content a{
    color: white;

}

.announcement-div-content{
    padding-top: 1rem;
}

//announcement archive

div.announcement-post{
    background-color: white;
    padding: 2rem 2rem 3rem 2rem;
    margin-bottom: 3rem;

}

.announcement-post-title{
    color: g.$purple;
    font-weight: bold;
}
