@use 'globals' as g;

#blog-archive-main-page-area{
    
    background-color: g.$light;
    padding-top: 8rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 65rem;
    
}