@use 'globals' as g;

div.cky-btn-revisit-wrapper.cky-revisit-bottom-left{
    backdrop-filter: blur(14px)!important;
    background-color: rgba(255, 255, 255, 0.2)!important;


    img{
        display: none;
        
    }
    
}



