/* FOOTER SECTION */

@use 'globals' as g;

footer{
    background-color: g.$dark;
    padding: 1.5rem 2rem 2rem 2rem;
}

footer a{
    color: white;
}

footer a:hover{
    color: g.$green;
}

.footer-column{
    margin-top: 1rem;
}

.footer-text{
    color: white;
}

.footer-spacer{
    display: inline-block;
    width: 0.7rem;
}
.footer-link{
    display: block;
    margin-bottom: 0.8rem;
    
}

.wlt-white{
    max-width: 20rem;
    height: auto;
    margin-left: -1.3rem;
    padding-top: 3rem;
    
}

.footer-icon{
    margin-left: -1.7rem;
    max-width: 7rem;
    
    
}