@use 'globals' as g;

#SideNav{
    width: max-content;
    white-space: nowrap;
     
  }
  #SideNav *{
    
    color: white;

  }
  
  
  
  #SideNav .list-group.panel > .list-group-item {
    border-radius: 0;
    border: none;
  }
  



  

  

  
