@use 'globals' as g;

#post-content-column{

    margin-bottom: 10rem;
    
}

#single-post-main-page-area{
    
    background-color: g.$light;
    padding-top: 8rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    max-width: 55rem;
    
}

#post-image-container{
    margin-top: 2rem;
    margin-bottom: 2rem;
    
}



.wp-post-image{
    width: 100%;
    height: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.content-footer{
    margin-top: 5rem;
}

.nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
    display: flex;
}
 
.nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
    flex: 1 0 50%;
}
 
.nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
    text-align: end;
    flex: 1 0 50%;
}

.post-navigation {

    padding:0px;
    }
    .nav-previous, .nav-next{
    padding:10px;
    font-weight: bold;
    
    color: g.$muted-light;
    }

   