@use 'globals' as g;

// File Block

.is-style-kings-file-block, 
.editor-styles-wrapper .is-kings-file-block { 
	background-color: g.$green-light;
	padding: 1rem;
	margin-bottom: 1.5px;
	a{
		color: g.$dark;
		font-weight: 500;
		
		
		

		&:hover{
			color: g.$purple;
		}
		
	}
	a::before {
		font: var(--fa-font-solid);
		content: "\f15b";
		font-size: 1rem;
		color: g.$muted;
		padding-right: 1rem;
		
		

		&:hover{
			color: g.$purple;
		}
	}
	
}

