@use 'colors' as c;

html {
    box-sizing: border-box;
    font-size:  100%;
    overflow-x: hidden;
    
    
}


*, 
*::before, 
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;  
    display: flex;
    flex-direction: column;
    align-content: center;
    
    
}



a{
    text-decoration: underline;
    color: c.$purple;
    

    &:hover{
        color: c.$green;
    }

 
}

li{
    padding: 0.2rem;
}