$body-color: #231F20;
$body-bg: #F5F5F5;

$dark-purple:  #411763;
$purple:  #5B2A84;
$green:   #b3d82b;
$light:   #F5F5F5;
$dark:    #231F20;
$muted:    #424242; 



$primary:       $green;
$secondary:     $purple;
$success:       $dark-purple;